<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.dao.PermMapper">

    <select id="findPermByUserId" resultType="java.lang.String">
        select distinct lp.perm
        from user u
                left join level_perm lp on u.level = lp.level
    </select>

</mapper>
